body {
  margin: 0;
  font-family: -apple-system, 'Montserrat', sans-serif;
}

code {
  font-family: 'Montserrat', sans-serif;
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}